<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>ADMIN</title>
</head>
<body>
    <head><a href="">Admin</a> | <a href="">Logout</a></head>
    <aside>
        <ul>
            <li>
                <a href="">Quản Lý Danh Mục</a>
            </li>
            <li>
                <a href="">Quản Lý Sản Phẩm</a>
            </li>
            <li>
                <a href="">Quản Lý Tác Giả</a>
            </li>
            <li>
                <a href="">Logout</a>
            </li>
        </ul>
    </aside>
    <section>
        <div class="row">
            <form action="" method="POST" enctype="multipart/form-data">
                <input type="text" name="name" id="" placeholder="Tên Sản Phẩm">
                <input type="text" name="price" id="" placeholder="Giá Sản Phẩm">
                <input type="text" name="sale" id="" placeholder="Sale Sản Phẩm">
                <input type="file" name="img" id="">
                <input type="checkbox" name="hot" id="">
                <input type="submit" value="Thêm sản phẩm" name="them">
            </form>
        </div>
        <div class="row">
            <table>
                <tr>
                    <td>id</td>
                    <td>name</td>
                    <td>img</td>
                    <td>price</td>
                    <td>sale</td>
                    <td>mota</td>
                    <td>Delete</td>
                </tr>
            </table>
        </div>
    </section>
    <footer>
        Copyright &copy 2020
    </footer>
</body>
</html>